<h2>Inner app</h2>
<p>ES7 async resolved value: {{ innerApp.num || 'resolving...' }}</p>
<nested></nested>

<h4>Event</h4>
<!-- We've created custom directives for all the standard dom events:
click, change, scroll, etc. So you can use (click) instead of ng-click
to match Angular 2 syntax -->
<button (click)="innerApp.triggerEventNormally()">
Trigger DOM Event
</button>
<button (click)="innerApp.triggerEventViaEventEmitter()">
Trigger Emitted Event
</button>

<!-- A string value coming from the parent... basic stuff. -->
<h4>One Way String from Parent (read-only)</h4>
<p>{{innerApp.msg3}}</p>

<!-- In Angular 2, one way bindings are the default. We used some trickery
to simulate one way data flow from the parent of this directive to this
child. If this component tries to change 'message1' it will be
unsuccessful, just like our Angular 2 forefathers wanted it to be. -->
<h4>One Way Binding from Parent (read-only)</h4>
<input ng-model="innerApp.message1"/>

<!-- If you truly need your precious two-way binding, here ya go. See how
the parent binds to message2. -->
<h4>Two Way Binding to/from Parent (read/write)</h4>
<input ng-model="innerApp.message2"/>